<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="utf-8">
    <meta name="color-scheme" content="dark">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SleepSHOP</title>
    <!-- come back to change the links  -->
    <link rel="stylesheet" type="text/css" href="../public/css/shop.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
</head>

<header>
    <main class="container">

        <nav>
            <!-- This makes the hamburger button turn into an X when clicked and also hides dropdown items until the hamburger button is made into an X-->
            <ul>
                <div class="hammy" id="ham" onclick="hammyClick()">
                    <div class="bar top"></div>
                    <div class="bar middle"></div>
                    <div class="bar bottom"></div>
                </div>
                <!-- The specific part for the dropdown items -->
                <div class="dropdown dropHide" id="dropdown">
                    <ul>
                        <li><a href="#" class="secondary vert">Shop</a></li>
                        <li><a href="#" class="secondary vert">Checkout</a></li>
                    </ul>
                </div>
            </ul>
            <!-- This makes the sleepSHOP title and also makes the SHOP turn purple -->
            <ul>
                <li class="title"><strong>sleep<span class="shop">PRODUCTS</span></strong></li>
            </ul>
            <ul>
                <li><a href="#" class="secondary accountLink">Account</a></li>
            </ul>
        </nav>

    </main>

</header>

<body>
    <main class="container">
        <div class="grid">
            <!-- This is the spot for the images on the products page -->
            <div>
                <img src="{{product.product_img_path}}" alt="{{product.product_img_alt}}">
            </div>
            <!-- This is the spot for the info on the products page -->
            <div>
                <!-- Info about the product -->
                <blockquote>
                    {{product.product_name}}
                    <footer>
                      <cite>{{product.product_description}}</cite>
                    </footer>
                  </blockquote>

                <!-- Select -->
                <label for="points">{{product.price}} sleep<span class="shop">POINTS</span></label>
                <select id="bed" required>
                    <option value="" selected>Quantity…</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>

                <!-- Button -->
                <a href="#" role="button">Add to Cart</a>

            </div>

        </div>
        <script type="text/javascript" src="../public/js/header.js"></script>
    </main>
</body>