<section>
  <div class="form-container">
    <h2>Account Settings</h2>
    <div class="form-group"> 
      <div>
        <p>First Name</p>
        <label for="firstname">
          First name
          <input type="text" id="firstname" name="firstname" placeholder="{{user.first_name}}">
        </label>
      </div>
      <div>
        <p>Last Name</p>
        <label for="lastname">
          Last name
          <input type="text" id="lastname" name="lastname" placeholder="{{user.last_name}}">
        </label>
      </div>
      <div>
        <p>Username</p>
        <label for="username">
          Username
        </label>
          <input type="text" id="username" name="username" placeholder="{{user.user_name}}">
      </div>
    </div>
    <div class="form-group"> <!-- Used the 'form-group' class here. -->
      <div>
        <p>Email</p>
        <label for="email">
          Email address
          <input type="email" id="email" name="email" placeholder="{{user.user_email}}">
        </label>
      </div>
      <div>
        <p>Password</p>
        <label for="password">
          New Password
          <input type="password" id="password" name="password" placeholder="Password">
        </label>
      </div>
      <div>
        <p>Confirm Password</p>
        <label for="confirm-password">
          Confirm New Password
          <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm Password">
        </label>
      </div>
    </div>
    <div class="update">
      <a href="" onclick="event.preventDefault()" id="updatebut" role="button" class="outline">Update</a>
      <a href="/account" role="button" class="outline">Cancel</a>
    </div>
  </div>
</section>
<section>
  <div class="form-container">
  <h2>Account History</h2>
  

  <h3>Current Points: </h3>
  <p id="current-points">{{user.user_points}}</p>

  <h3>Order History: </h3>
  <div id="orders"></div>
  </div>
</section>